@use 'src/styles/variables';

/* .reposResults-container {
 
} */
.reposResults-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reposResults-list-item {
  margin-right: 0.7rem;
  margin-left: 0.7rem;
  padding-bottom: 1rem;
}

.card {
  height: 470px; /* Ajustez la hauteur selon vos besoins */
}
